<h1>Feeds</h1>
<div class="feeds-maincol">
  <%= link_to '新規投稿画面', new_feed_path %>

<% @feeds.each do |feed| %>
  <div class="feed-box">
    <div class="feed-header">
      <img src="">
      <p><a href="">ここに名前が入ります</a></p>
      <div class="feed-edit-share">
        <ul>
          <li><%= link_to "編集する", edit_feed_path(feed.id) %></li>
          <li><a href="">シェア</a></li>
          <li><%= link_to "削除", feed_path(feed.id), method: :delete, data: { confirm: '本当に削除しますか？' } %></li>
        </ul>
      </div>
    </div>
    <div class="feed-image">
      <%= image_tag feed.image %>
    </div>
    <div class="feed-utility">
      <ul>
        <li><a href="">これはlikeボタン</a></li>
        <li>いいね！100件</li>
      </ul>
    </div>
    <div class="feed-caption">
      <p><%= feed.caption %></p>
    </div>
  </div>
<% end %>

</div><!--feeds-maincol-->