<div class="one-col">

  <div class="user-profile clearfix">
    <% if @user.image.url.present? %>
      <p class="user-profile-image"><%= image_tag @user.image.url %></p>
    <% else %>
      <p class="user-profile-image>プロフィール画像：プロフィール画像が設定されていません</p>
    <% end %>

    <div class="user-profile-box">
      <h1><%= @user.name %></h1>
      <p>メールアドレス：<%= @user.email %></p>
      <% if @user.id == current_user.id %>
        <%= link_to 'プロフィールを編集する', edit_user_path(@user.id), class: "utility-btn" %>
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete, class: "utility-btn" %>
      <% end %>
    </div>
  </div>

  <% if @user_feeds.present? %>
    <div class="user-feeds clearfix">
      <h2>投稿一覧</h2>
      <% @user_feeds.each do |feed| %>
        <div class="feed-box">
          <div class="feed-image">
            <%= image_tag feed.image %>
          </div>
          <div class="feed-caption">
            <p><%= feed.caption %></p>
          </div><!--feed-caption-->
          <div class="feed-edit-share">
            <% if feed.user_id == current_user.id %>
              <ul>
                <li><%= link_to "編集する", edit_feed_path(feed.id) %></li>
                <li><%= link_to "削除", feed_path(feed.id), method: :delete, data: { confirm: '本当に削除しますか？' } %></li>
              </ul>
            <% end %>
          </div><!--feed-edit-share-->
        </div><!--feed-box-->
      <% end %>
    </div><!--user-feeds-->
  <% end %>

</div>